{% extends "layout.html" %}


{% block body %}
{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div id="coro" class="col-md-4">
            <div id="cardi" class="card shadow-lg">
                <div id="headd" class="card-header text-center text-white rounded">
                    <p class="card-text">My to do list login</p>
                </div>
                <div class="card-body">
                    <form action="" method="POST" class="text-center">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-danger" type="submit">Login</button>
                    </form>
                </div>
                <div id="foot"  class="card-footer">
                    <a id="create" href="/user/register">Create a new Account</a>
                </div>
            </div>
            <div class="container">
                <img id="haka" src="/static/image/2919974.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
        
        </div>
    </div>
{% endblock body %} 